<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#superUser">משתמש על</a></li>
        <li class="disabled"><a href="#" >הקבוצות שלי</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="wrap">
  <div class="container" id="c_1">

    <div class="row">

    <div class="col-sm-12">  
      <h1>שלום, {{getUserName}}!</h1>  <h3>הוסף בתי ספר חדשים: </h3>
    </div>


      <div class ="col-sm-1"></div>

      <!-- Schools -->
      <div class ="col-sm-4">
        <div ng-show="showSchools">
          <table class="table table-responsive table-fixed table-hover">
            <thead> <tr> <th>בית ספר:</th> </tr> </thead>
            <tbody> <tr  ng-repeat="school in schools">
               <td> {{school.School}}</td>
            </tr></tbody>
          </table>
        </div>
      </div>


      <div class ="col-sm-1"></div>

      <!--  City -->
      <form name="myForm" class="form-horizontal" role="form">
      <div class ="col-sm-5">
        <label class="control-label pull-right">בחר עיר:&nbsp;&nbsp;</label>
        <select required class="form-control inputstl" id="group_city" size=5>
          <option ng-repeat="city in myCities.cities" value={{city}}>   
          {{city}}
          </option>
        </select>    

        <!-- button -->
        <button ng-click="showSchoolsList()" ng-disabled="myForm.$invalid" class="btn btn-lg btn-info" style="margin: 20px 0;"> 
          הצג בתי ספר!  
          <span class="glyphicon glyphicon-king"></span>
        </button>
      </div>
      </form>
        

      <div class ="col-sm-1"></div>


      

        


        <div class ="col-sm-4"></div>
        <div class="col-sm-4 text-center">
         
           <form name="myForm2" class="form-horizontal" role="form">
           <div ng-show="showSchools">
          <label class="control-label pull-right">הכנס שם בית ספר חדש:&nbsp;&nbsp;</label>
          <input type="text" name="groupName" class="form-control inputstl pull-right" required placeholder="הכנס שם בית ספר חדש:" ng-model="user.schoolName">
          </div>

        <!-- button -->
          <button ng-click="createNewSchool()" ng-disabled="myForm2.$invalid" type="submit" class="btn btn-lg btn-info"  data-toggle="modal" data-target="#fedbackModal" style="margin: 20px 0; margin-bottom: 15px;">הוסף בית ספר חדש!  <span class="glyphicon glyphicon-king"></span>
          </button>
        </div>
    </form>
<div class ="col-sm-4"></div>
     
</form>

    </div>
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>   
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button" data-dismiss="modal" class="btn btn-default" > סגור </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
