<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div ng-show="!isAdmin"><a class="navbar-brand" href="#teacher">טקסטרטגיה</a></div>
        <div ng-show="isAdmin"><a  class="navbar-brand" href="#superUser">טקסטרטגיה</a></div>    
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="wrap">
  <div class="container" id="c_1">
  <div class="row">

   
    
    <div class="col-sm-12 col-xs-12">
        <h1>שלום, {{teacherName}}!</h1>  <h3>צור קבוצת לימוד חדשה: </h3>  
        <div class="text-left"> 
           <span> חסר בית ספר בעיר {{selected_city}}? <a href="#addSchoolInCity" tabindex="-1">הוסף </a></span>
        </div>
    </div>

    <form name="myForm" class="form-horizontal" role="form">

      <div class="col-sm-2 col-xs-12">
        
      </div>

      <div class="col-sm-4 col-xs-12">

        <!--  2 -->
        <label class="control-label pull-right">סוג קבוצה:&nbsp;&nbsp;</label>
        <select required class="form-control inputstl" ng-model="selected_group_master" id="group_master" ng-change="changeGroupType()" style="padding: 5px 5px;" placeholder="הכנס סוג קבוצה" tabindex="105">
          <option value=""> - בחר סוג קבוצה - </option>
          <option value=0 >קבוצת-אם תלמידים</option>
          <option value=1>קבוצת מורים</option>
        </select>

        <!-- 4 -->
        <label class="control-label pull-right">בחר בית ספר:&nbsp;&nbsp;</label>

        <select required class="form-control inputstl" ng-model="selected_school" id="group_school" ng-change="getTeacherByCityAndSchool()" style="padding: 5px 5px;" tabindex="107">
         <option value=""> - הכנס בית ספר - </option>
          <option ng-repeat="y in group_school" value="{{y.School}}" >{{y.School}}</option>
          <option value='' ng-show="group_school.length=='0'" > לא קיימים בתי ספר בעיר זו</option>
        </select>

        <div ng-show="isStudentGroup">
          <label class="control-label pull-right">בחר מורה אחראי:&nbsp;&nbsp;</label>

          <select ng-required='!selected_group_master' class="form-control inputstl" ng-model="selected_teacher" id="teachers" style="padding: 5px 5px;">
          <option value=""> - בחר מורה אחראי קבוצה - </option>
            <option ng-repeat="y in teachers" value="{{y.PersonalID}}" tabindex="108">{{y.FirstName}}</option>
          </select>
        </div>

      </div>

      <div class="col-sm-1 col-xs-12 "></div>

      <div class="col-sm-4 col-xs-12">

        <!-- 1 -->
        <label class="control-label pull-right">הכנס שם קבוצה:&nbsp;&nbsp;</label>
        <!-- <span class="label label-danger"> Danger Label</span> -->
        <input type="text" ng-model="text_group" name="groupName" class="form-control inputstl pull-right" required placeholder="הכנס שם קבוצה:" style="padding: 5px 5px;" tabindex="101">

        <!-- 3 -->
        <br>
        <label class="control-label pull-right">לרשותך, חפש עיר לפי שם:&nbsp;&nbsp;</label>
        <input type="text" id="query" class="form-control inputstl pull-right"  ng-model="query" placeholder="חפש עיר" tabindex="102">

        <label class="control-label pull-right">בחר עיר:&nbsp;&nbsp;</label>
        <select required class="form-control inputstl" id="group_city"  ng-model="selected_city" ng-change="getSchoolByCity()" size=5 style="padding: 5px 5px;" tabindex="103">
            <option value=""> - בחר עיר -</option>
          <option ng-repeat="city in myCities.cities | filter:query | orderBy: orderList" value={{city}} >{{city}}</option>
        </select>


      </div>

      <div class="col-sm-2 col-xs-12"></div>

      <div class="col-sm-12 col-xs-12 text-center"><br></div>

      <div class="col-sm-12 col-xs-12 text-center">
        <!--<button ng-click="createGroup()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-lg btn-info" data-toggle="modal" data-target="#fedbackModal">צור קבוצה!  <span class="glyphicon glyphicon-king"></span>-->
        <button ng-click="createGroup()" type="submit" class="btn btn-lg btn-info"  ng-disabled="myForm.$invalid" data-toggle="modal" data-target="#fedbackModal">צור קבוצה!  <span class="glyphicon glyphicon-king"></span>
        </button>
      </div>

    </form>




  </div>
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>   
                  <span class="text-info"> <strong><em>{{output_groupCode}}</em></strong></span>       
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button"  data-dismiss="modal" class="btn btn-default" ng-click ="goToSuperUser()" > סגור </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>

<img class="img-responsive footer-image" id="imag-logo" src="views/pic/bottom.png" >

