<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#teacher">מורה</a></li>
        <li class="disabled"><a href="#" >הקבוצות שלי</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

    <div class="row">

<div ng-show="!insertPossibleAnswersMode">
    <div class="col-sm-12">  <h1>שלום, {{teacherName}}!</h1>  <h3>צור שאלה חדשה: </h3>  </div>
    <form name="myForm" class="form-horizontal" role="form">

        <div class="col-sm-2"></div>

        <div class="col-sm-4">

          <!--  2 - 4 - 6 -->
        <label class="control-label pull-right">האם שאלת רב בחירה?:&nbsp;&nbsp;</label>
	        <select class="form-control inputstl" id="is_multiple_ans">
	        	<!-- <option value=1>כן</option> FOR NOW ONLY 'NO' is available--> 
	            <option value=0>לא</option>
	        </select>                  
        
        <!-- 4 -->
        <label class="control-label pull-right">הכנס כתובת מדייה: &nbsp;&nbsp;</label>
       		<input type="text" name="question_media" class="form-control inputstl pull-right" required placeholder="קישור למדיה" ng-model="question.question_media">	

		<!-- 6 -->
    	<label class="control-label pull-right">הכנס פידבק לתשובה שגויה: &nbsp;&nbsp;</label>
       		<input type="text" name="quest_incorrect_fb" class="form-control inputstl pull-right" required placeholder="פידבק שלילי" ng-model="question.quest_incorrect_fb">


       	<!-- 8 -->
          <label class="control-label pull-right">הכנס קושי שאלה:&nbsp;&nbsp;</label>
          	<input type="number"  min="1" max="10" name="quest_difficulty" class="form-control inputstl pull-right" required placeholder="מ-1 עד 10" ng-model="question.quest_difficulty">

        </div>
 
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
      
          <!-- 1 - 3 - 5 -->
          <label class="control-label pull-right">הכנס ניסוח שאלה:&nbsp;&nbsp;</label>
          	<input type="text" name="question_title" class="form-control inputstl pull-right" required placeholder="ניסוח שאלה חדשה" ng-model="question.question_title">


          <!-- @@@ SHAKED, CHANGE AS YOU WISH THE VALUES @@@ -->
          	<label class="control-label pull-right">מהו סוג המדיה של השאלה?:&nbsp;&nbsp;</label>
	            <select class="form-control inputstl" id="media_type">
		            <!-- <option value=0>אין מדיה</option> -->
		            <option value=1>סרטון</option>
		            <option value=2>אודיו</option>
		            <option value=3>תמונה</option>
		            <option value=4>טקסט</option>
	            </select>   

	            <!-- 5 -->
    		<label class="control-label pull-right">הכנס פידבק לתשובה נכונה: &nbsp;&nbsp;</label>
       		<input type="text" name="quest_correct_fb" class="form-control inputstl pull-right" required placeholder="פידבק חיובי" ng-model="question.quest_correct_fb">

			<!-- 7 -->
        	<label class="control-label pull-right">הכנס מיומנות למידה: &nbsp;&nbsp;</label>
       		<input type="text" name="quest_skill" class="form-control inputstl pull-right" required placeholder="מיומנות למידה" ng-model="question.quest_skill">	

        </div>
 
        <div class="col-sm-2"></div>   
        <div class="col-sm-12 text-center"><br></div>

        <!-- First part Button! -->
        <div class="col-sm-12 text-center">
          <button ng-click="possibleAnswersMode()" ng-disabled="myForm.$invalid" class="btn btn-lg btn-info">הוסף מסיחים!
          <span class="glyphicon glyphicon-ice-lolly"></span> </button>

         <br><br><br><br>
        </div>  
	</form>
</div>

<div ng-show="insertPossibleAnswersMode">
	<div class="col-sm-12">  <h3>הכנס את התשובות: </h3>  </div>

<form name="mySecondForm" class="form-horizontal" role="form">
	<div class="col-sm-4"></div>

	<div class="col-sm-4 text-center">

		<!-- 1 -->
		<label class="control-label pull-right">תשובה 1: &nbsp;&nbsp;</label>
		<input type="text" name="possible_ans_1" class="form-control inputstl pull-right" required ng-model="question.possible_ans_1">	

				<!-- 2 -->
		<label class="control-label pull-right">תשובה 2: &nbsp;&nbsp;</label>
		<input type="text" name="possible_ans_2" class="form-control inputstl pull-right" required ng-model="question.possible_ans_2">	

				<!-- 3 -->
		<label class="control-label pull-right">תשובה 3: &nbsp;&nbsp;</label>
		<input type="text" name="possible_ans_3" class="form-control inputstl pull-right" required  ng-model="question.possible_ans_3">	

				<!-- 4 -->
		<label class="control-label pull-right">תשובה 4: &nbsp;&nbsp;</label>
		<input type="text" name="possible_ans_4" class="form-control inputstl pull-right" required  ng-model="question.possible_ans_4">	

		<br>

		<!-- 5 -->
      	<label class="control-label pull-right ">מהי התשובה הנכונה?:&nbsp;&nbsp;</label>
            <select class="form-control inputstl " id="correct_ans">
	            <option value=0>1</option>
	            <option value=1>2</option>
	            <option value=2>3</option>
	            <option value=3>4</option>
            </select> 
	</div>

	<!-- buttons -->
  <div class="col-sm-4 text-center">
		<div class="btn-group-vertical">
          <button ng-click="editQuestionMode()" class="btn btn-lg btn-info" >חזור להכנסת שאלה!
          <span class="glyphicon glyphicon-hand-right"></span> </button>

	      <button ng-click="sendNewQuestion()" ng-disabled="mySecondForm.$invalid" type="submit" class="btn btn-lg btn-info" data-toggle="modal" data-target="#fedbackModal">הוסף שאלה למאגר!
         <span class="glyphicon glyphicon-send"></span> </button>
  	</div>
	</div>

</form>
</div> <!-- //ng-show insertPossibleAnswersMode -->

      
    </div>      
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>   
                  <span class="text-info"> <strong><em>{{output_groupCode}}</em></strong></span>       
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button" data-dismiss="modal" class="btn btn-default" > סגור </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
