<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#teacher">מורה</a></li>
        <li class="disabled"><a href="#" >הקבוצות שלי</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li <a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

    <div class="row">

      <div class="col-sm-12">  <h1>שלום, {{teacherName}}!</h1>  <h3>צור קבוצת לימוד חדשה: </h3>  </div>

      <form class="form-horizontal" role="form">

        <div class="col-sm-2"></div>

        <div class="col-sm-3">

           <div class="form-group">
            <label for="name1" class="control-label pull-right">שם הקבוצה:</label>
            <input type="email" class="form-control inputstl pull-right" id="name1" placeholder="Enter Your Full Name">
          </div>

          <div class="form-group">
            <label for="gender1" class="control-label">קבוצת אם:</label>
            <select class="form-control inputstl" id="gender1">
              <option>קבוצת אם חדשה</option>
              <option>בחירה 1</option>
              <option>בחירה 2</option>
              <option>בחירה 3</option>
            </select>                  
          </div>

        
        </div>
 
        <div class="col-sm-2"></div>
     
        <div class="col-sm-3">
      
          <div class="form-group">
            <label for="name1" class="control-label pull-right">קוד קבוצה:</label>
            <input type="number" class="form-control inputstl pull-right" id="name1" placeholder="הכנס קוד קבוצה">
          </div>

          <div class="form-group">
              <label for="name1" class="control-label pull-right">שם הקבוצה:</label>
              <input type="text" class="form-control inputstl pull-right" id="name1" placeholder="הכנס שם קבוצה">
          </div>
        </div>

 
        <div class="col-sm-2"></div>
      
        <div class="col-sm-12 text-center"><br></div>

        <div class="col-sm-12 text-center">
          <button ng-click="sendTaskToGroup()" type="submit" class="btn btn-lg btn-info" data-toggle="modal" data-target="#fedbackModal">שלח מטלה</button>
        </div>
     
</form>
      
    </div>      
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span ng-show="!messageSent"> {{serverFeedback}}</span>           
                  <span ng-show="messageSent"> המטלה נשלחה </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button" data-dismiss="modal" class="btn btn-default" > סגור </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
