<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li ng-show="!isAdmin"><a href="#teacher">מורה</a></li>
        <li ng-show="isAdmin"><a href="#superUser">משתמש על</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="wrap">
  <div class="container" id="c_1">

    <div class="row">

   <div class="col-sm-12">  <h1>שלום, {{teacherName}}!</h1>  <h3>צור קבוצת לימוד חדשה: </h3>  </div>

      <form name="myForm" class="form-horizontal" role="form">

        <div class="col-sm-2"></div>

        <div class="col-sm-4">

          <!--  2 -->
            <label class="control-label pull-right">סוג קבוצה:&nbsp;&nbsp;</label>
            <select required class="form-control inputstl" ng-model="selected_group_master" id="group_master" style="padding: 5px 5px;">
              <option value=1>קבוצת-אם תלמידים</option>
              <!--<option value=2>קבוצת תלמידים</option>-->
              <!--<option value=3>קבוצת-אם מורים</option>-->
              <!-- <option value=1>קבוצת אם למורים</option> -->
            </select>   
              <!-- <option value=0>לא</option> -->
            </select>    

			<!-- 4 -->
                <label class="control-label pull-right">בחר בית ספר:&nbsp;&nbsp;</label>
            <!--<select required class="form-control inputstl" id="group_school">-->
              <!--<option value=1>רעים</option>-->
              <!--<option value=2>רננים</option>-->
              <!--<option value=3>שז"ר</option>-->
              <!--&lt;!&ndash; <option value=0>לא</option> &ndash;&gt;-->
            <!--</select>-->

          <select required class="form-control inputstl" ng-model="selected_school" id="group_school" ng-change="getTeacherByCityAndSchool()" style="padding: 5px 5px;">
            <option ng-repeat="y in group_school" value="{{y.School}}">{{y.School}}</option>
            <!--<option ng-show="group_school==0" disabled>אין בתי ספר קיימים</option>-->
          </select>


          <label class="control-label pull-right">בחר מורה אחראי:&nbsp;&nbsp;</label>

          <select required class="form-control inputstl" ng-model="selected_teacher" id="teachers" style="padding: 5px 5px;">
            <option ng-repeat="y in teachers" value="{{y.PersonalID}}">{{y.FirstName}}</option>
          </select>

        </div>
 
        <div class="col-sm-1"></div>
     
        <div class="col-sm-4">
      
          <!-- 1 -->
          <label class="control-label pull-right">הכנס שם קבוצה:&nbsp;&nbsp;</label>
          <!-- <span class="label label-danger"> Danger Label</span> -->
          <input type="text" ng-model="text_group" name="groupName" class="form-control inputstl pull-right" required placeholder="הכנס שם קבוצה:" style="padding: 5px 5px;">

           <!-- 3 -->
           
           <label class="control-label pull-right">בחר עיר:&nbsp;&nbsp;</label>
            <select class="form-control inputstl" id="group_city"  ng-model="selected_city" ng-change="getSchoolByCity()" size=5 style="padding: 5px 5px;">
              <option ng-repeat="city in myCities.cities" value={{city}}>{{city}}</option>
            </select>


        </div>
 
        <div class="col-sm-2"></div>
      
        <div class="col-sm-12 text-center"><br></div>

        <div class="col-sm-12 text-center">
          <button ng-click="createGroup()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-lg btn-info" data-toggle="modal" data-target="#fedbackModal">צור קבוצה!  <span class="glyphicon glyphicon-king"></span>
          </button>
        </div>
     
</form>



      
    </div>      
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>   
                  <span class="text-info"> <strong><em>{{output_groupCode}}</em></strong></span>       
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button"  data-dismiss="modal" class="btn btn-default" ng-click ="goToSuperUser()" > סגור </button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
