<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div ng-show="isAdmin"><a  class="navbar-brand" href="#superUser">טקסטרטגיה</a></div>
        <div ng-show="!isAdmin"><a class="navbar-brand" href="#teacher">טקסטרטגיה</a></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="wrap">
  <div class="container" id="c_1">

    <div ng-show = "!searchQuestion" class="col-sm-12 col-xs-12">  
      <h1 >שלום, {{getUserName}}!</h1>  
    </div>


     


  <div ng-show="searchQuestion" class ="col-sm-12 col-xs-12 text-center well">
      <!-- button -->
    <button ng-click="backToTaskDef()" class="btn btn-lg btn-info">
      חזור לנוסח מטלה  
    </button>
  </div>

<!-- ################  SELECTED QUESTIONS ############################ -->
  <div ng-show="myTaskQuestions.length==0"  class="col-sm-4 col-xs-12 text-center well">
     <h4> שאלות המטלה החדשה </h4>
     <h6> עדיין אין שאלות לשליחה... </h6>

   <button class="btn btn-success" ng-disabled="true">
        צור מטלה חדשה!
    </button>

  </div>


  <div ng-show="myTaskQuestions.length!=0" class="col-sm-4 col-xs-12 well">
  <h3> שאלות המטלה החדשה </h3>
   <div id="accordion1">
    <div class="panel" ng-repeat="q in myTaskQuestions track by $index">
      <button class="button btn-danger" ng-click="deleteThisQuestion(q)" > מחק
      </button>
      <p>&nbsp;&nbsp;{{q.Q_qeustion}}</p>
      
    </div>
  </div>

    <div class="text-center">

      <!-- button -->
      <button ng-show="!userApprovedSending && searchQuestion" ng-click="sendTaskToServerWrapper()"  class="btn btn-lg btn-success" ng-disabled="myForm1.$invalid || myTaskQuestions.length==0" ">
        צור מטלה חדשה! 
    </button>

    <button  ng-show="!searchQuestion" ng-click="addQuestions()" ng-disabled="myForm1.$invalid" class="btn btn-lg btn-info">
       חזור לבניית מטלה
      </button>

    </div>

  </div>

<!-- @@@@@@@@@@@@@@@@@@ searchQuestion @@@@@@@@@@@@@@@ -->
<div ng-show="searchQuestion">
  <div class="col-sm-5 col-xs-12 well">
    
 
 <div id="accordion2">
    <div class="panel" ng-repeat="q in myQuestions track by $index">
      <input type="checkbox"  ng-init='checkStatus51=false' ng-model="checkStatus51"
      ng-change="checkQuestionSelected(checkStatus51,q.Q_id)" >
      <p>&nbsp;&nbsp;{{q.Q_qeustion}}</p>
      <span class="label label-info">{{q.Q_skill}}</span>
      <span ng-show="q.Q_mediaType=='page'" class="label label-lili">אודיו</span>
      <span ng-show="q.Q_mediaType=='img'" class="label label-lili">תמונה</span>
      <span ng-show="q.Q_mediaType=='youtube'" class="label label-lili">סרטון</span>
      <span ng-show="q.Q_mediaType=='text'" class="label label-lili">קטע</span>
      <span class="label label-danger">{{}}</span>
      <span ng-show="q.Q_difficulty=='קלה'" class="label label-success">{{q.Q_difficulty}}</span>
      <span ng-show="q.Q_difficulty=='בינונית'" class="label label-warning">{{q.Q_difficulty}}</span>
      <span ng-show="q.Q_difficulty=='קשה'" class="label label-danger">{{q.Q_difficulty}}</span>
    </div>
  </div>

<div class="text-center">
  <!-- Button -->
    <button ng-click="addSelectedQuestions()" class="btn btn-lg btn-info" > 
      הוסף שאלות 
      <span class="glyphicon glyphicon-king"></span>
    </button>
  </div>



  </div>




  <div class="col-sm-3 col-xs-12 well" style="margin-bottom: 50px" >
    <form name="myForm2" class="form-horizontal" role="form">
    <h3> חפש שאלה </h3>  

<!-- 3 -->
  <label class="control-label pull-right">סוג מדיה:&nbsp;&nbsp;</label><br>
  <div class="padded-20-elemnt" >
    <label><input type="checkbox" ng-init='checkStatus11=false' ng-model="checkStatus11" ng-change="checkdMediaSelected(checkStatus11,'youtube')" >
    &nbsp;&nbsp;סרטון youtube</label><br>
    <label> <input type="checkbox" ng-init='checkStatus12=false' ng-model="checkStatus12" ng-change="checkdMediaSelected(checkStatus12,'page')">
    &nbsp;&nbsp;אודיו</label><br>
    <label> <input type="checkbox" ng-init='checkStatus13=false' ng-model="checkStatus13" ng-change="checkdMediaSelected(checkStatus13,'img')">
    &nbsp;&nbsp;תמונה</label><br>
    <label> <input type="checkbox" ng-init='checkStatus14=false' ng-model="checkStatus14" ng-change="checkdMediaSelected(checkStatus14,'text')">
    &nbsp;&nbsp;טקסט</label><br>
 </div>

<!-- 2 -->
  <label class="control-label pull-right">מהו קושי השאלה?:&nbsp;&nbsp;</label><br>
  <div class="padded-20-elemnt" >
    <label><input type="checkbox"  ng-init='checkStatus21=false' ng-model="checkStatus21" ng-change="checkDiffSelected(checkStatus21,'קלה')" >
    &nbsp;&nbsp;קלה</label><br>
    <label> <input type="checkbox"  ng-init='checkStatus22=false' ng-model="checkStatus22" ng-change="checkDiffSelected(checkStatus22,'בינונית')">
    &nbsp;&nbsp;בינונית</label><br>
    <label><input type="checkbox"  ng-init='checkStatus23=false' ng-model="checkStatus23" ng-change="checkDiffSelected(checkStatus23,'קשה')">
    &nbsp;&nbsp;קשה</label><br>
  </div>

<!-- 1 -->
  <label class="control-label pull-right">סוג מיומנות למידה:&nbsp;&nbsp;</label><br>
  <div class="padded-20-elemnt" >
    <div ng-repeat="sk in skills">
      <label>
      <input type="checkbox"  ng-init='checkStatus41=false' ng-model="checkStatus41"
       ng-change="checkSkillSelected(checkStatus41,sk.Q_skill)" >
            &nbsp;&nbsp;{{sk.Q_skill}}
      </label>
    </div>
  </div>

</form>
  <div class="text-center">
  <!-- Button -->
    <button ng-click="showSelectedQuestion()" class="btn btn-lg btn-info" > 
      הצג שאלות לבחירה  
      <span class="glyphicon glyphicon-king"></span>
    </button>
  </div>

</div>    <!--  /well -->
</div> <!-- ng-show="searchQuestion" -->



<!-- @@@@@@@@@@@@@@ !searchQuestion @@@@@@@@@@@@@@2222-->
<div ng-show =  "!searchQuestion">

  <div class="col-sm-2 hidden-xs"></div>

  <form name="myForm1" class="form-horizontal">
    <div class="col-sm-6 col-xs-12">

      <h3>צור מטלה חדשה: </h3>

        <!-- 1 -->
        <label class="control-label pull-right">הכנס שם מטלה:&nbsp;&nbsp;</label>
        <input type="text" name="taskName" class="form-control inputstl pull-right" required placeholder="הכנס שם מטלה:" ng-model="task.taskName">

        <!-- 2 -->
        <label class="control-label pull-right">הכנס תאור מטלה:&nbsp;&nbsp;</label>
        <input type="text" name="taskDesc" class="form-control inputstl pull-right" required placeholder="הכנס תאור מטלה:" ng-model="task.taskDesc">

      </div>

    <div class="col-sm-6 col-xs-12"><br></div>

    <div class="col-sm-6 col-xs-12" style="margin: 20px 0px;">

      <!-- button -->
      <button ng-show="!searchQuestion && !showApproveQuestion" ng-click="addQuestions()" ng-disabled="myForm1.$invalid" class="btn btn-lg btn-info">
        הוסף שאלות!  
      </button>

      <div ng-show="showApproveQuestion">
            <strong>
            <span class="text-danger" ng-show="!userApprovedSending" style="font-size: 18px;">יש לאשר מטלה לפני הוספה </span>
            <span class="text-success" ng-show="userApprovedSending" style="font-size: 18px;">אישרת את השאלה להוספה!</span>
            </strong>&nbsp;&nbsp;
            <button ng-show="!userApprovedSending" type="button" class="btn btn-success" ng-click="changeStatusOfAnswer()"> אשר </button>
            <button ng-show="userApprovedSending" type="button" class="btn btn-danger" ng-click="changeStatusOfAnswer()"> שנה </button>
      </div>

    <button ng-show="showApproveQuestion" ng-click="sendTaskToServer()"  class="btn btn-success squirish-button3" ng-disabled="myForm1.$invalid || myTaskQuestions.length==0 || !userApprovedSending"
               data-toggle="collapse" data-target="#fedbackModal">
        צור מטלה<br> חדשה!
      </button>


    </div>
  </form>
</div>




</div>
</div>




<!-- Modal -->
<div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
        </div>
  
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-5 col-sm-3"> 
            <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
          </div>
          <div class="col-xs-7 col-sm-9">
          <br>
            <span> {{serverFeedback}}</span>   
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
           <button type="button" data-dismiss="modal" class="btn btn-default"  ng-click="backToHomePage()" > סגור </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<br><br><br><br><br>

<img class="img-responsive footer-image" id="imag-logo" src="views/pic/bottom.png" >

