<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#teacher">מורה</a></li>
        <li class="disabled"><a href="#" >הקבוצות שלי</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

<!-- GROUP MANAGMENT MODE -->
<div class="row" ng-show="!send_task_mod && !send_task_for_some_student_mod">

  <div class="col-sm-12" >
    <h1>שלום, {{teacherName}}!</h1>  <h3>לרשותך, רשימת הקבוצות שבניהולך: </h3>
  </div>

  <div class="col-sm-3">

    <!-- Button -->
    <button ng-click="sendTaskMode()" class="btn btn-info squirish-button1" style="font-size: 15px;">
     <span class="glyphicon glyphicon-education" style="font-size: 25px;"></span> 
      <p> שליחת מטלות<br>לקבוצה </p>
    </button> 

    <!-- Button  -->
    <button ng-click="sendTaskForSomeStudentMod()" class="btn btn-info squirish-button1" style="font-size: 15px;">
     <span class="glyphicon glyphicon-pawn" style="font-size: 25px;"></span> 
      <p> שליחת מטלות <br> לתלמידים מסויימים </p>
    </button>

  </div>

  <div class="col-sm-1"></div>

  <div class="col-sm-8">
 
    <div class="col-sm-6 panel-group panel-hover" ng-repeat="y in allGroups">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <p><bold>{{y.GroupName}}</bold></p>
          </h4>
        </div>

        <div class="panel">
          <div class="panel-body">קוד קבוצה: <div class="text-info"> {{y.GroupeCode}}</div></div>

          
        </div>

      </div>
    </div>

  </div>
    <div class="col-sm-12"><br></div>

</div> <!-- /GROUP MANAGMENT MODE -->


<!-- SEND TASK MODE -->
<div class="row" ng-show="send_task_mod">


  <div class="col-sm-12">  <h3>בחר מטלה והצמד לה קבוצה</h3> 
   
   </div>

  <br><br>

  <div class="form-group">

          <div class="col-sm-12 text-center">

            <div class="btn-group btn-group-lg" data-toggle="buttons">
              <!-- Button -->
              <button id="choiseButton0" ng-click="changeTaskType(0)" class="btn btn-info squirish-button1" style="font-size: 15px;" >
              מאגר המטלות <br> המשותף                       </button> 

              <!-- Button -->
              <button id="choiseButton1" ng-click="changeTaskType(1)" class="btn btn-info squirish-button1" style="font-size: 15px;" >
              <p>המטלות שלי</p>                          </button>
            </div>
          </div>          

           <div class="col-sm-1"></div>
          <!-- 1 -->
           <div class="col-sm-10" style = "padding: 60px;">
            <label for="available_task" class="control-label pull-right" >מטלות זמינות:</label>
            <select class="form-control inputstl" id="available_task" ng-model="selected_task" ng-change="getAllGroupForTask()" size=1>
              <option ng-repeat="y in allTasks" value="{{y.T_id}}">{{y.T_title}}</option>
              <option ng-show="info.tasks==0" disabled>אין מטלות זמינות</option>
            </select>

          <!-- 2 -->
            <label for="available_group" class="control-label pull-right">קבוצות זמינות:</label>
            <select class="form-control inputstl" id="available_group" ng-model="selected_group" size =1>
              <option ng-repeat="x in groups" value="{{x.GroupId}}">{{x.GroupName}}</option>
              <option ng-show="groups==0" disabled>אין קבוצות זמינות</option>
            </select>
          </div>
             
           <div class="col-sm-1"></div>

  </div> <!-- /form-group -->

  <div class="col-sm-12"><br></div>

  <div class="col-sm-12 text-center">

    <!-- Button -->
     <button ng-click="groupManagmentMode()" class="btn btn-success squirish-button1" style="font-size: 15px;" >
        <span class="glyphicon glyphicon-menu-right"><span class="glyphicon glyphicon-education" style="font-size: 40px;"> </span> </span> 
       <p>חזור לניהול קבוצות</p>          </button> 

       <!-- Button -->
     <button ng-click="sendTaskToGroup()" class="btn btn-success squirish-button1" style="font-size: 15px;" data-toggle="modal" data-target="#fedbackModal">
       <span class="glyphicon glyphicon-send" style="font-size: 40px;"></span> 
       <p>שלח מטלה לקבוצה</p>          </button>

  </div>

</div> <!-- ng-show send task -->




<!-- SEND TASK FOR STUDENT MODE -->
<div class="row" ng-show="send_task_for_some_student_mod">

  <div class="col-sm-12"> 
  <h3> בחר מטלה, בחר קבוצה, סמן תלמידים ושלח! </h3>
  <br><br>
  </div>


  <div class="col-sm-4"> 

       
    <div ng-show="$scope.groupsStudentLst!=0">
      <table class="table table-responsive table-fixed table-hover">
        <thead ng-show="$scope.groupsStudentLst!=0 ">  
        <tr> 
          <th>מספר זהות</th>
          <th>שם</th>
          <th></th><th></th>
        </tr> 
        </thead>
        <tbody> 
        <tr class="success"><td>תלמידים שנבחרו:</td><td></td><td></td><td></td></tr>
        <tr class="success" ng-repeat="stud1 in studentToSendTaskToList">
          <td> {{stud1.PersonalID}}</td>
          <td> {{stud1.FirstName}}</td>
          <td> {{stud1.LastName}}</td>
          <td> <button class="button btn-danger" ng-click="deleteThisStudent(stud1)"> מחק </button></td>
        </tr>
          <tr class="warning" style="border-top: thick solid #286044;">
            <td>תלמידים לבחירה:</td><td></td><td></td><td></td>
          </tr>
        <tr class="warning" ng-repeat="stud2 in groupsStudentLst">
          <td> {{stud2.PersonalID}}</td>
          <td> {{stud2.FirstName}}</td>
          <td> {{stud2.LastName}}</td>
          <td> <button class="button btn-success" ng-click="addThisStudent(stud2)" > הוסף  </button></td>

        </tr></tbody>
      </table>
    </div>

<br><br><br>

<!-- BUTTON -->
   <button ng-click="groupManagmentMode()" class="btn btn-success squirish-button3" style="font-size: 15px;" >
      <span class="glyphicon glyphicon-menu-right"> <p>חזור לניהול<br>קבוצות</p> </span> 
             </button> 

    <!-- BUTTON -->
   <button ng-click="sendTaskForSomeStudent()" class="btn btn-success squirish-button3" data-toggle="modal" data-target="#fedbackModal" style="font-size: 15px;">
     <span class="glyphicon glyphicon-send">   <p>שלח<br> תלמידים</p></span>          </button>



  </div>





  <div class="col-sm-4">


    <div class="panel-group panel-hover panel-click" ng-repeat="y in groups " id="panelID-{{y.GroupId}}" ng-click="showGroupsMembersList(y.GroupId)">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <p>
              <bold>{{y.GroupName}}</bold>
            </p>
          </h4>
        </div>
        <div class="panel">
          <div class="panel-body">קוד קבוצה: <div class="text-info"> {{y.GroupeCode}}</div></div>
        </div>
      </div>
    </div>   

  </div>



  <div class="form-group col-sm-4" style="grid-row: initial;">

      <div class="btn-group btn-group-lg text-right" data-toggle="buttons">
        <!-- Button -->
        <button id="choiseButton0" ng-click="changeTaskType(0)" 
        class="btn btn-info squirish-button3" style="font-size: 15px;" >
        <p>מאגר<br>המשותף</p>                       </button> 

        <!-- Button -->
        <button id="choiseButton1" ng-click="changeTaskType(1)" class="btn btn-info squirish-button3" style="font-size: 15px;" >
        <p>המטלות <br> שלי</p>                          </button>
      </div>

<br><br><br>

      <!-- 1 -->
        <label  class="control-label pull-right" >מטלות זמינות:</label>
        <select class="form-control inputstl" id="available_task" ng-model="selected_task" ng-change="getAllGroupForTask()" size=1>
          <option ng-repeat="y in allTasks" value="{{y.T_id}}">{{y.T_title}}</option>
          <option ng-show="info.tasks==0" disabled>אין מטלות זמינות</option>
        </select>

               

 </div> <!-- /form-group -->




</div>   <!-- /send_task_for_some_student_mod -->







  </div>
</div>

      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>           

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" ng-show="doneSendTask" data-dismiss="modal" class="btn btn-default" ng-click="goToTeacher()"> סגור </button>
              <button type="button" ng-show="!doneSendTask" data-dismiss="modal" class="btn btn-default" > סגור </button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
