<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#teacher">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <!-- <li><a href="#teacher">מורה</a></li> -->
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

<!-- GROUP MANAGMENT MODE -->
<div class="row" ng-show="!send_task_mod && !send_task_for_some_student_mod">

  <div class="col-sm-6 col-xs-12 text-center">

    <!-- Button -->
    <button ng-click="sendTaskMode()" class="btn btn-info squirish-button3" style="font-size: 15px;">
     <span class="glyphicon glyphicon-education" style="font-size: 25px;"></span> 
      <p> שלח מטלות<br>לקבוצה </p>
    </button> 

    <!-- Button  -->
    <button ng-click="sendTaskForSomeStudentMod()" class="btn btn-info squirish-button3" style="font-size: 15px;">
     <span class="glyphicon glyphicon-pawn" style="font-size: 25px;"></span> 
      <p> שלח מטלות<br>לתלמידים</p>
    </button>



  </div>

  <div class="col-sm-6 col-xs-12" >
    <h1>שלום, {{teacherName}}!
    <span ng-show="allGroups.length!=0"> <small>לרשותך, רשימת הקבוצות שבניהולך: </small> </span>
    <span ng-show="allGroups.length==0"> <small>עדיין לא קיימות קבוצות תלמידים באחריותך.</small> 
    </h1>  
  </div>


  <div class="col-sm-12 col-xs-12"><br></div>

  <div class="col-sm-4 col-xs-12">
      <table class="table table-responsive table-fixed table-hover">
      <thead ng-show="$scope.groupsStudentLst!=0 ">  
        <tr> 
          <th>מספר זהות</th>
          <th>שם</th>
          <th>משפחה</th>
          <th>אימייל</th>
          <th>סיסמא</th>
        </tr> 
      </thead>
      <tbody> 
        <tr class="" ng-repeat="stud2 in groupsStudentLst">
          <td> {{stud2.PersonalID}}</td>
          <td> {{stud2.FirstName}}</td>
          <td> {{stud2.LastName}}</td>
          <td> {{stud2.Email}}</td>
          <td>
          <button class="button btn-success" ng-click="showStudnetPassword(stud2)" data-toggle="modal" data-target="#fedbackModal" > הצג סיסמא  </button>
          </td>
        </tr>
      </tbody>
      </table>
<br>
          <div ng-show="!noStudentInGroup==''" class="alert alert-info login-input" style="font-size: 15px;"><strong>
        <span class="label label-info">לדיעתך! </span>&nbsp;&nbsp;{{noStudentInGroup}}
         </strong></div>

         <div class="col-xs-2 hidden-sm hidden-md hidden-lg" ><br></div>
         <div class="col-xs-8 hidden-sm hidden-md hidden-lg alert alert-info"><p> סובב את המכשיר על מנת לראות טבלה במלואה</p></div>
         <div class="col-xs-2 hidden-sm hidden-md hidden-lg" ><br></div>

  </div>


  <div class="col-sm-8 col-xs-12">
    <div class="col-sm-6 col-xs-12 panel-group panel-hover" ng-repeat="y in allGroups">
      <div class="panel panel-default" ng-click="showGroupsMembersList(y.GroupId,y.GroupName)">
        <div class="panel-heading">
          <h4 class="panel-title">
            <p  style="font-size: 17px;"><bold>{{y.GroupName}}</bold></p>
          </h4>
        </div>
        <div class="panel">
          <div class="panel-body">
          <p>
              <span style="font-size: 17px;">קוד קבוצה: <span class="text-info"> {{y.GroupeCode}}</span><br></span>
              בית ספר: <span class="text-info">{{y.School}}</span><br>
              עיר: <span class="text-info">{{y.City}}</span>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  

</div> <!-- /GROUP MANAGMENT MODE -->


<!-- SEND TASK MODE -->
<div class="row" ng-show="send_task_mod">


  <div class="col-sm-12 col-xs-12">  
    <h3>בחר מטלה, בחר קבוצה ושלח.<br><small>שים לב, אם המטלה כבר ברשימת המטלות של הקבוצה, לא ניתן לשלוח אותה פעם נוספת</small></h3> 
  </div>

  <br><br>

<form name="taskGroupForm">
  <div class="form-group">

          <div class="col-sm-12 col-xs-12 text-center">

            <div class="btn-group btn-group-lg" data-toggle="buttons">
              <!-- Button -->
              <button id="choiseButton0" ng-click="changeTaskType(0)" class="btn btn-info squirish-button3" style="font-size: 15px;" >
              מאגר<br>המטלות<br>המשותף                       </button> 

              <!-- Button -->
              <button id="choiseButton1" ng-click="changeTaskType(1)" class="btn btn-info squirish-button3" style="font-size: 15px;" >
              <p>המטלות שלי</p>                          </button>
            </div>
          </div>          

           <div class="col-sm-2 hidden-xs"></div>
          <!-- 1 -->

           <div class="col-sm-8 col-xs-12" style = "padding: 60px;">
            <label for="available_task" class="control-label pull-right" >מטלות זמינות:</label>
            <select required class="form-control inputstl" id="available_task" ng-model="selected_task" ng-change="getAllGroupForTask()" size=1>
              <option value=""></option>
              <option ng-repeat="y in allTasks" value="{{y.T_id}}">{{y.T_title}}</option>
              <option ng-show="info.tasks==0" disabled>אין מטלות זמינות</option>
            </select>

            <!-- 2 -->
            <div style="margin-top: 6px;">
              <label for="available_group" class="control-label pull-right">קבוצות זמינות:</label>
              <select required class="form-control inputstl" id="available_group" ng-model="selected_group" size =1>
                <option value=""></option>
                <option ng-repeat="x in groups" value="{{x.GroupId}}">{{x.GroupName}}</option>
                <option ng-show="groups==0" disabled>אין קבוצות זמינות</option>
              </select>
            </div>
          </div>
             
           <div class="col-sm-2 hidden-xs"></div>

  </div> <!-- /form-group -->

  <div class="col-sm-12"><br></div>

  <div class="col-sm-12 col-xs-12 text-center">

    <!-- Button -->
     <button ng-click="groupManagmentMode()" class="btn btn-info squirish-button4" style="font-size: 15px;" >
        <span class="glyphicon glyphicon-menu-right"><span class="glyphicon glyphicon-education" style="font-size: 20px;"> </span> </span> 
       <p>חזור<br>לניהול<br>קבוצות</p>          </button> 

       <!-- Button -->
     <button ng-click="sendTaskToGroup()" ng-disabled="taskGroupForm.$invalid"  class="btn btn-success squirish-button4" style="font-size: 15px;" data-toggle="modal" data-target="#fedbackModal">
       <span class="glyphicon glyphicon-send" style="font-size: 20px;"></span> 
       <p>שלח<br>מטלה<br>לקבוצה</p>          </button>

  </div>
  </form>

</div> <!-- ng-show send task -->




<!-- SEND TASK FOR STUDENT MODE -->
<div class="row" ng-show="send_task_for_some_student_mod">
<form name="taskStudentForm">

  <div class="col-sm-12 col-xs-12"> 
  <h3> בחר מטלה, בחר קבוצה, סמן תלמידים ושלח! </h3>
  <br><br>
  </div>


  <div class="col-sm-4"> 

       
    <div ng-show="$scope.groupsStudentLst2!=0">
      <table class="table table-responsive table-fixed table-hover">
        <thead ng-show="$scope.groupsStudentLst2!=0 ">  
        <tr> 
          <th>מספר זהות</th>
          <th>שם</th>
          <th></th><th></th>
        </tr> 
        </thead>
        <tbody> 
        <tr class="success"><td>תלמידים שנבחרו:</td><td></td><td></td><td></td></tr>
        <tr class="success" ng-repeat="stud1 in studentToSendTaskToList">
          <td> {{stud1.PersonalID}}</td>
          <td> {{stud1.FirstName}}</td>
          <td> {{stud1.LastName}}</td>
          <td> <button class="button btn-danger" ng-click="deleteThisStudent(stud1)"> מחק </button></td>
        </tr>
          <tr class="warning" style="border-top: thick solid #286044;">
            <td>תלמידים לבחירה:</td><td></td><td></td><td></td>
          </tr>
        <tr class="warning" ng-repeat="stud2 in groupsStudentLst2">
          <td> {{stud2.PersonalID}}</td>
          <td> {{stud2.FirstName}}</td>
          <td> {{stud2.LastName}}</td>
          <td> <button class="button btn-success" ng-click="addThisStudent(stud2)" > הוסף  </button></td>
        </tr>
        </tbody>
      </table>
    </div>

<br><br><br>
    
    <div ng-show="studentLstForTaskSeningIsEmpty" class="alert alert-info login-input" style="font-size: 15px;"><strong>
  <span class="label label-info">לדיעתך! </span>&nbsp;&nbsp;עליך להוסיף תלמידים לטבלה<br> לפני שתוכל לשלוח את המטלה
   </strong></div>


<!-- BUTTON -->
   <button ng-click="groupManagmentMode()" class="btn btn-info squirish-button3" style="font-size: 15px;" >
      <span class="glyphicon glyphicon-menu-right"> <p>חזור לניהול<br>קבוצות</p> </span> 
             </button> 

    <!-- BUTTON -->
   <button ng-disabled="taskStudentForm.$invalid || studentLstForTaskSeningIsEmpty"  ng-click="sendTaskForSomeStudent()" class="btn btn-success squirish-button3" data-toggle="modal" data-target="#fedbackModal" style="font-size: 15px;">
     <span class="glyphicon glyphicon-send">   <p>שלח<br> לתלמידים</p></span>          </button>



  </div>





  <div class="col-sm-4">


    <div class="panel-group panel-hover col-sm-6" ng-click="showGroupsMembersList2(y.GroupId)" ng-repeat="y in allGroups" id="panelID-{{y.GroupId}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <p>
              <bold>{{y.GroupName}}</bold>
            </p>
          </h4>
        </div>
        <div class="panel">
          <div class="panel-body">קוד קבוצה: <div class="text-info"> {{y.GroupeCode}}</div></div>
        </div>
      </div>
    </div>   

  </div>



  <div class="form-group col-sm-4" style="grid-row: initial;">

      <div class="btn-group btn-group-lg text-right" data-toggle="buttons">
        <!-- Button -->
        <button id="choiseButton2" ng-click="changeTaskType(0)" 
        class="btn btn-info squirish-button3" style="font-size: 15px;" >
        <p>מאגר<br>המשותף</p>                       </button> 

        <!-- Button -->
        <button id="choiseButton3" ng-click="changeTaskType(1)" class="btn btn-info squirish-button3" style="font-size: 15px;" >
        <p>המטלות <br> שלי</p>                          </button>
      </div>

<br><br><br>

      <!-- 1 -->
        <label  class="control-label pull-right" >מטלות זמינות:</label>
        <select required class="form-control inputstl" id="available_task" ng-model="selected_task2" ng-change="changedTask()" size=1>
          <option value=""></option>
          <option ng-repeat="y in allTasks" value="{{y.T_id}}">{{y.T_title}}</option>
          <option ng-show="info.tasks==0" disabled>אין מטלות זמינות</option>
        </select>
        <br><br>
        <div ng-show="!pickedTask" class="alert alert-danger login-input" style="font-size: 15px;"><strong>
        <span class="label label-danger">שים לב! </span>&nbsp;&nbsp;עליך לבחור מטלה לפני לחיצה על קבוצה!
         </strong></div> 
          <div ng-show="!noStudentInGroup==''" class="alert alert-info login-input" style="font-size: 15px;"><strong>
        <span class="label label-info">לדיעתך! </span>&nbsp;&nbsp;{{noStudentInGroup}}
         </strong></div>

               `

 </div> <!-- /form-group -->



</form>
</div>   <!-- /send_task_for_some_student_mod -->







  </div>
</div>

      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>           
                  <div ng-show = "askForUserPassword">

                   <input type="password" ng-model="pass.superPassword" class="form-control inputstl pull-right" placeholder="הכנס את ססמתך האישית" style="max-width:200px ; margin:20px; padding: 5px 5px;">

                   <button type="button" class="btn btn-default" ng-click="askPremession()" style="margin:20px 0px;"> שלח </button>
                  </div>

                  <div ng-show="showPassword">
                    <span class="text-info">
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{studentObject.Pass}}
                    </strong></span>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" ng-show="doneSendTask && !askForUserPassword" data-dismiss="modal" class="btn btn-default" ng-click="goToTeacher()"> סגור </button>
              <button type="button" ng-show="!doneSendTask && !showPassword " data-dismiss="modal" class="btn btn-default" > סגור </button>
              
              <button type="button" ng-show="showPassword " data-dismiss="modal" class="btn btn-default"  ng-click="doneWithShowPassword()"> סגור </button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>

<img class="img-responsive footer-image" id="imag-logo" src="views/pic/bottom.png" >

