<div id="wrap">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      
        <!-- NOT DISABLED FOR EASINESS: -->
<!--         <li><a href="#student">תלמיד</a></li>
        <li><a href="#tasks">מטלות</a></li> -->
        
        <!--    DISABLED AS SHOULD BE -->  
       
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>
	
<div class="login-page-container" id="c_1" style="padding-right: 13px;">
			
	<h1><strong>טקסטרטגיה</strong></h1>
	<h4 class="login-subtitle">מתרגלים אסטרטגיות הבנה</h4>

<form class="login-form" name="myForm">
  <div class="login-container">
      
    <div class="form-group"  >
      <div class="col-xs-12 col-sm-12 login-inputs-container" >
        <label class="login-input-label1"><span class="glyphicon glyphicon-envelope"></span> דואר אלקטרוני: </label>
          <input class="login-input" type="email" name="email" ng-model="user.username" required class="form-control" placeholder="הכנס כתובת דואר אלקטרוני">
        
        <div ng-show="myForm.email.$error.email" class="error">אימייל לא תקין</div>
        <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">שדה חובה!</div>

        <label class="login-input-label2"><span class="glyphicon glyphicon-lock"></span> סיסמא: </label>
          <input class="login-input" type="password" name="pass" ng-model="user.password" required class="form-control" placeholder="הכנס סיסמא">
        <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">שדה חובה!</div>
      </div>

      <div class="col-xs-12 col-sm-12"><br></div>

      <div class="col-xs-12 col-sm-12">
        <!-- Button -->
        <button ng-click="authenticate()" ng-disabled="myForm.$invalid" class="btn btn-success button-center login-button"> כניסה  <span class="glyphicon glyphicon-thumbs-up"></span></button>
      </div>

    </div>

    <div class="col-xs-12 col-sm-12">
      <br>
      <div ng-show="showError" class="alert alert-danger login-input">שם משתמש או סיסמא לא נכונים!</div>
      <div ng-show="showSuccess" class="alert alert-success login-input">חיבור נעשה בהצלחה!</div>
      <br><br>
      <br><br>
    </div>

  </div>
</form>

<br><br>

</div>
<img class="img-responsive footer-image" id="imag-logo" src="views/pic/bottom.png" >
</div>