<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li ng-show="!isAdmin"><a href="#teacher">מורה</a></li>
        <li ng-show="isAdmin"><a href="#superUser">משתמש על</a></li>
        <!-- <li class="disabled"><a href="#" >הקבוצות שלי</a></li> -->
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">
  <div class="row">


  <div class ="col-sm-9 text-center well" style="height: 118px;"> 
  
      <div class="btn-group text-center" data-toggle="buttons" style="margin: 8px 85px; ">
       
        <!-- Button -->
        <button id="choiseButton2" ng-click="approvedQuestions(2)" class="btn btn-danger squirish-button2" style="font-size: 15px;" >
        שאלות<br>בעייתיות                         </button>
        <!-- Button -->
        <button id="choiseButton0" ng-click="approvedQuestions(1)" class="btn btn-info squirish-button2" style="font-size: 15px;" >
        שאלות<br>בהמתנה                      </button> 

        <!-- Button -->
        <button id="choiseButton1" ng-click="approvedQuestions(0)" class="btn btn-info squirish-button2" style="font-size: 15px;" >
        חפש<br>שאלה</button>
      </div>

      <button ng-show="flagEditQuestionMode" ng-click="backToQuestionStockView()" class="btn btn-success squirish-button2" 
      style="font-size: 15px;" >
            חזור<br>לשאלות                      </button>  

     <button ng-show="!flagEditQuestionMode && clicked == 1" ng-click="backToEditQuestionView()" class="btn btn-success squirish-button2" 
      style="font-size: 15px;" >
            חזור<br>לעריכה                      </button> 

  </div>
  
  <div class="col-sm-3 text-right">  <h1>שלום, {{teacherName}}! <h3>חפש שאלה לעריכה: </h3></h1></div>


  <div ng-show="!flagEditQuestionMode">
<div class="col-sm-8">

 <div id="accordion2" >
    <div class="panel" ng-repeat="q in myQuestionsStock track by $index">
      <div  name="question" ng-model="user.question" value="{{q.Q_id}}" >
      <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapse{{ $index + 1 }}" class="ng-binding collapsed" >
       &nbsp;&nbsp;{{q.Q_qeustion}}
      </a>
      <div id="collapse{{ $index + 1 }}" >   
       &nbsp;&nbsp;מקצוע: {{q.Q_proffession}} <br>
       &nbsp;&nbsp;מיומנות למידה: {{q.Q_skill}} <br><br>
      <div class="bg-info" ng-show="!{{q.Q_approved}}"><strong> &nbsp;&nbsp;יש לערוך ולאשר שאלה זו&nbsp;&nbsp;</strong></div>
      <div class="bg-danger" ng-show="!{{q.Q_approved}}" ><strong> &nbsp;&nbsp;יש התרעת משתמש על שאלה זו&nbsp;&nbsp;</strong></div>

      </div>
      </div>

       <button ng-click="editChosenQuestion(q.Q_id,q.Q_qeustion)" class="btn btn-info text-center" data-toggle="modal" data-target="#fedbackModal" style="margin: 5px 335px;"> 
        ערוך שאלה
        <!-- <span class="glyphicon glyphicon-king"></span> -->
      </button>

    </div>
  </div>

</div>
</div>


<div ng-show="searchQuestionByProfiling">



  <div class="col-sm-3 well" style="margin-bottom: 50px" >
   
    <h3> בחר קריטריונים </h3>  


    <form name="myForm2" class="form-horizontal" role="form">


    <!-- 3 -->
      <label class="control-label pull-right">סוג מדיה:&nbsp;&nbsp;</label><br>
      <div class="padded-20-elemnt" >
        <label><input type="checkbox" ng-init='checkStatus11=false' ng-model="checkStatus11" ng-change="checkdMediaSelected(checkStatus11,'youtube')" >
        &nbsp;&nbsp;סרטון youtube</label><br>
        <label> <input type="checkbox" ng-init='checkStatus12=false' ng-model="checkStatus12" ng-change="checkdMediaSelected(checkStatus12,'page')">
        &nbsp;&nbsp;אודיו</label><br>
        <label> <input type="checkbox" ng-init='checkStatus13=false' ng-model="checkStatus13" ng-change="checkdMediaSelected(checkStatus13,'img')">
        &nbsp;&nbsp;תמונה</label><br>
        <label> <input type="checkbox" ng-init='checkStatus14=false' ng-model="checkStatus14" ng-change="checkdMediaSelected(checkStatus14,'text')">
        &nbsp;&nbsp;טקסט</label><br>
     </div>

    <!-- 2 -->
      <label class="control-label pull-right">מהו קושי השאלה?:&nbsp;&nbsp;</label><br>    
        <div class="padded-20-elemnt" >
          <label><input type="checkbox"  ng-init='checkStatus21=false' ng-model="checkStatus21" ng-change="checkDiffSelected(checkStatus21,'קלה')" >
          &nbsp;&nbsp;קלה</label><br>
          <label> <input type="checkbox"  ng-init='checkStatus22=false' ng-model="checkStatus22" ng-change="checkDiffSelected(checkStatus22,'בינונית')">
          &nbsp;&nbsp;בינונית</label><br>
          <label><input type="checkbox"  ng-init='checkStatus23=false' ng-model="checkStatus23" ng-change="checkDiffSelected(checkStatus23,'קשה')">
          &nbsp;&nbsp;קשה</label><br>
        </div>



    <!-- 1 -->
      <label class="control-label pull-right">סוג מיומנות למידה:&nbsp;&nbsp;</label><br>
      <div class="padded-20-elemnt" >
        <div ng-repeat="sk in skills">
          <label>
          <input type="checkbox"  ng-init='checkStatus41=false' ng-model="checkStatus41"
           ng-change="checkSkillSelected(checkStatus41,sk.Q_skill)" >
                &nbsp;&nbsp;{{sk.Q_skill}}
          </label>
        </div>
      </div>

</form>  <!-- /form -->
  
    <div class="text-center">
    <!-- Button -->
      <button ng-click="searchQuestionsByParamter()" class="btn btn-lg btn-info" > 
        הצג שאלות לבחירה  
        <span class="glyphicon glyphicon-king"></span>
      </button>
    </div>

</div>    <!--  /well -->





<div ng-show="searchQuestionByProfiling" >
 
</div>



</div> <!-- /searchQuestionByProfiling -->













<div ng-show="flagEditQuestionMode">


<div ng-show="!insertPossibleAnswersMode">
    <form name="myForm" class="form-horizontal" role="form">

    <div class="col-sm-2"></div>

    <div class="col-sm-4">

      <!--  4  -->       
      <label class="control-label pull-right">מהו סוג המדיה של השאלה?:&nbsp;&nbsp;</label>
        <select class="form-control inputstl" id="media_type" style="padding: 5px 5px;" tabindex="4" ng-model="question.media_type">
          <!-- <option value=0>אין מדיה</option> -->
              <option value="youtube">סרטון youtube</option>
              <option value="page">אודיו</option>
              <option value="img">תמונה</option>
              <option value="text">טקסט</option>
        </select>   

    <!-- 5 -->
    <label class="control-label pull-right">הכנס מדייה: &nbsp;&nbsp;</label>
    <span class="text-info" ng-show="question.media_type=='img'" style="font-size: 18px;">
       לא ניתן לערוך מדיה מסוג תמונה</span>
      <div ng-show="question.media_type!='img'">
         <input type="text" name="question_media" class="form-control inputstl pull-right" required placeholder="קישור למדיה" ng-model="question.question_media" tabindex="5"> 
      </div>

      <!-- 6 -->
      <label class="control-label pull-right">הכנס מיומנות למידה: &nbsp;&nbsp;</label>
      <select class="form-control inputstl" id="skill_type" ng-model="question.selected_skill" ng-change="new_skill_mode()" tabindex="6" style="padding: 5px 5px;">
        <option  ng-repeat="sk in skills" value={{sk.Q_skill}}>
          {{sk.Q_skill}}
          </option>
          <option value="enter_new_skill">   מיומנות חדשה:     </option>
          <br>
        <input type="text" ng-show="enter_new_skill_mode" class="form-control inputstl pull-right" placeholder="מיומנות למידה" ng-model="question.selected_skill">
      </select>

      <!-- 7 -->
      <label class="control-label pull-right">מהו קושי השאלה?:&nbsp;&nbsp;</label>
      <select class="form-control inputstl" id="quest_difficulty" tabindex="7" style="padding: 5px 5px;" ng-model="question.difficulty">
          <!-- <option value=0>אין מדיה</option> -->
          <option value="קלה">קלה</option>
          <option value="בינונית">בינונית</option>
          <option value="קשה">קשה</option>
      </select>

    </div>
 
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
      
          <!-- 1 -->
          <label class="control-label pull-right">הכנס ניסוח שאלה:&nbsp;&nbsp;</label>
            <textarea type="text" rows="2" name="question_title" class="form-control inputstl pull-right" ng-model="question.question_title" tabindex="1">

          </textarea>

          <!-- note - need to rearange tabindex if this is activ -->
          <!--<label class="control-label pull-right">האם שאלת רב בחירה?:&nbsp;&nbsp;</label>-->
          <!--<select class="form-control inputstl" id="is_multiple_ans" tabindex="2.5">-->
              <!--&lt;!&ndash; <option value=1>כן</option> FOR NOW ONLY 'NO' is available&ndash;&gt; -->
              <!--<option value=0>לא</option>-->
          <!--</select>   -->
              
          <!-- 2 -->
            <label class="control-label pull-right">הכנס פידבק לתשובה נכונה: &nbsp;&nbsp;</label>
            <textarea type="text" name="quest_correct_fb" class="form-control inputstl pull-right" required ng-model="question.quest_correct_fb" tabindex="2"></textarea>

          <!-- 3 -->
            <label class="control-label pull-right">הכנס פידבק לתשובה שגויה: &nbsp;&nbsp;</label>
            <textarea type="text" name="quest_incorrect_fb" class="form-control inputstl pull-right" required placeholder="פידבק שלילי" ng-model="question.quest_incorrect_fb" tabindex="3"> </textarea>

        </div>
 
        <div class="col-sm-2"></div>   
        <div class="col-sm-12 text-center"><br></div>

        <!-- First part Button! -->
        <div class="col-sm-12 text-center">
          <button ng-click="possibleAnswersMode()" ng-disabled="myForm.$invalid" class="btn btn-lg btn-info" tabindex="8">ערוך מסיחים!
          <span class="glyphicon glyphicon-ice-lolly"></span> </button>

         <br><br><br><br>
        </div>  
  </form>
</div>

<div ng-show="insertPossibleAnswersMode">
  <div class="col-sm-12">  <h3>הכנס את התשובות: </h3>  </div>

<form name="mySecondForm" class="form-horizontal" role="form">


  <div class="col-sm-4 text-center">
      <!-- 3 -->
      <label class="control-label pull-right">תשובה 3: &nbsp;&nbsp;</label>
       <textarea  type="text" rows="2" name="possible_ans_3" class="form-control inputstl pull-right" required  
       ng-model="question.possible_ans_3" tabindex="11"> 
       </textarea>
          <!-- 4 -->
      <label class="control-label pull-right">תשובה 4: &nbsp;&nbsp;</label>
        <textarea type="text" rows="2" name="possible_ans_4" class="form-control inputstl pull-right" required  
        ng-model="question.possible_ans_4" tabindex="12"> 
        </textarea>
      <br>
  </div>

    <div class="col-sm-4 text-center">
      <!-- 1 -->
      <label class="control-label pull-right">תשובה 1: &nbsp;&nbsp;</label>
        <textarea type="text" rows="2" name="possible_ans_1" class="form-control inputstl pull-right" required 
        ng-model="question.possible_ans_1" tabindex="9" >  
        </textarea>
          <!-- 2 -->
      <label class="control-label pull-right">תשובה 2: &nbsp;&nbsp;</label>
        <textarea type="text" rows="2" name="possible_ans_2" class="form-control inputstl pull-right" required 
        ng-model="question.possible_ans_2" tabindex="10">  
        </textarea>

    </div>


  <!-- buttons -->
  <div class="col-sm-4 text-center">
    <div class="btn-group-vertical">
          <button ng-click="editQuestionMode()" class="btn btn-lg btn-info squirish-button3" tabindex="15" >חזור למסך<br> הקודם!
          <span class="glyphicon glyphicon-hand-right"></span> </button>

        <button ng-click="sendNewQuestionWraper()" ng-disabled="mySecondForm.$invalid" type="submit" class="btn btn-lg btn-info squirish-button3" data-toggle="modal" data-target="#fedbackModal" tabindex="14">שלח שאלה<br> לעריכה!!
         <span class="glyphicon glyphicon-send"></span> </button>
    </div>
  </div>

<div class="col-sm-12 text-center"><br><br></div>

<div class="col-sm-4 text-center"></div>

<div class="col-sm-4 text-center">
    <!-- 5 -->
        <label class="control-label pull-right ">בשאלה זו יש: &nbsp;&nbsp; &nbsp;&nbsp;</label>
            <strong>
            <span class="text-info" ng-show="question.isMultipuleAns==0" style="font-size: 18px;">תשובה אחת נכונה בלבד </span>
            <span class="text-danger" ng-show="question.isMultipuleAns==1" style="font-size: 18px;">כמה תשובות נכונות </span>
            </strong>
            <button type="button" class="btn btn-info" ng-click="changeStatusOfAnswer('blimp')"> שנה </button>

<!--      <select class="form-control inputstl " id="is_multiple_ans" style="max-width: 160px;" tabindex="13" ng-model="question.isMultipuleAns">
              <option value="">לא ידוע</option>
              <option value=0>תשובה אחת בלבד</option>
              <option value=1>יותר מתשובה אחת</option>
            
            </select>  -->
  
<br><br>


  <label class="control-label pull-right">סמן תשובות נכונות:&nbsp;&nbsp;</label><br>
   
<table class="table table-responsive table-fixed table-hover" style="font-size: 18px">
<strong>
      <tbody> 
        <tr>
          <td> תשובה 1 היא:  </td>
          <td>
            <span class="text-danger" ng-show="!question.answer1_is_correct">לא נכונה</span>
            <span class="text-success" ng-show="question.answer1_is_correct">נכונה</span>
          </td>
          <td> <button type="button" class="btn btn-info" ng-click="changeStatusOfAnswer('0')"> שנה </button>  </td>
        </tr>
        <tr>
          <td> תשובה 2 היא:</td>
          <td>
            <span class="text-danger" ng-show="!question.answer2_is_correct">לא נכונה</span>
            <span class="text-success" ng-show="question.answer2_is_correct">נכונה</span>
          </td>
          <td> <button type="button" class="btn btn-info" ng-click="changeStatusOfAnswer('1')"> שנה </button>  </td>
        </tr>
        <tr>
          <td> תשובה 3 היא:</td>
          <td>
            <span class="text-danger" ng-show="!question.answer3_is_correct">לא נכונה</span>
            <span class="text-success" ng-show="question.answer3_is_correct">נכונה</span>
          </td>
          <td> <button type="button" class="btn btn-info" ng-click="changeStatusOfAnswer('2')"> שנה </button>  </td>
        </tr> 
         <tr>
          <td> תשובה 4 היא:</td>
          <td>
            <span class="text-danger" ng-show="!question.answer4_is_correct">לא נכונה</span>
            <span class="text-success" ng-show="question.answer4_is_correct">נכונה</span>
          </td>
          <td> <button type="button" class="btn btn-info" ng-click="changeStatusOfAnswer('3')"> שנה </button>  </td>
        </tr>
      </tbody>
      </strong>
      </table>
  </div>


   <!-- 
    <div class="padded-20-elemnt well" style="max-width: 240px">
    <label><input type="checkbox"  ng-model="question.answer1_is_correct" ng-change="checkCorrectAns(question.answer1_is_correct,'0')" >
    &nbsp;&nbsp;1</label><br>
    <label> <input type="checkbox"  ng-model="question.answer2_is_correct" ng-change="checkCorrectAns(question.answer2_is_correct,'1')">
    &nbsp;&nbsp;2</label><br>
    <label> <input type="checkbox"  ng-model="question.answer3_is_correct" ng-change="checkCorrectAns(question.answer3_is_correct,'2')">
    &nbsp;&nbsp;3</label><br>
    <label> <input type="checkbox"  ng-model="question.answer4_is_correct" ng-change="checkCorrectAns(question.answer4_is_correct,'3')">
     &nbsp;&nbsp;4</label><br> 
 </div>
    -->



  </div>

  <div class="col-sm-4 text-center"></div>

</form>
</div> <!-- //ng-show insertPossibleAnswersMode -->
</div> <!-- //ng-show !searchQuestionByProfiling -->

      
    </div>      
  </div>
</div>



      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}<br></span>   
                  <span class="text-info" ng-show="!flagEditQuestionMode"><strong> {{serverSecondFeedback}}</strong></span>   
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button> -->
                 <button type="button" ng-show="!flagEditQuestionMode" data-dismiss="modal" class="btn btn-default" ng-click="getQuestionToEditFromStock()" > ערוך שאלה </button>
                
                <button type="button" ng-show="question_is_legal" data-dismiss="modal" class="btn btn-default" ng-click="sendNewQuestion()" > שלח שאלה לעריכה </button>


                 <button type="button" data-dismiss="modal" class="btn btn-default" > סגור </button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
