<nav class="navbar navbar-default"  tabindex="-1">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
<!--    <li><a href="#teacher">מורה</a></li>
        <li class="disabled"><a href="#" >הקבוצות שלי</a></li> -->
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="wrap">
  <div class="container" id="c_1">
    <div class="row" >
      
      <div class="col-sm-12">
        <h1>ברוך הבא! <small> הכיף מייד מתחיל... </small> </h1>
      </div>


    <div ng-show="!checkedCode">
      <div class="col-sm-3"> <br> </div>
      <div class="col-sm-1">
        <h3> <span class="badge" data-toggle="tooltip" title="קוד המונפק באופן אישי לכל משתמש על ידי רכז טקסטרטגיה">מה זה קוד משתמש?</span></h3>
      </div>  
      <div class="col-sm-5">
        <form name="myFirstForm" class="form-group row" role="form">
          <input type="text" name="code" required class="form-control inputstl form-control-lg" id="lgFormGroupInput" placeholder="הכנס קוד משתמש" ng-model="user.userCode" tabindex="0"> 
        </form>
      </div>
      <div class="col-sm-3"> <br> </div>

      <div class="col-sm-12 text-center">
      <!-- button! -->
        <button ng-click="checkUserCode()" ng-disabled="myFirstForm.$invalid" type="submit" class="btn btn-lg btn-info" data-toggle="modal" data-target="#fedbackModal" tabindex="0">שלח קוד</button>
      </div>
</div>


<!-- AFTER WE CHECK CODE AND SEE TYPE OF USER -->
    <div ng-show="checkedCode">
    
      <form name="myForm2" class="form-horizontal" role="form">

        <div class="col-sm-2"></div>

        <div class="col-sm-4">

          <!-- 5  -->
          <label class="control-label pull-right">שם פרטי:&nbsp;&nbsp;</label>
          <input type="text" name="firstName" class="form-control inputstl pull-right" required placeholder="הכנס שם פרטי" ng-model="user.userFirstName" tabindex="105">

          <!-- 6 -->
          <label class="control-label pull-right">שם משפחה:&nbsp;&nbsp;</label>
          <input type="text" name="lastName" class="form-control inputstl pull-right" required placeholder="הכנס שם משפחה" ng-model="user.userLastName" tabindex="106">

          <!-- 7 -->
          <label class="control-label pull-right">הכנס מספר זהות:&nbsp;&nbsp;</label>
          <input type="text" name="idNumber" class="form-control inputstl pull-right" required placeholder="הכנס מספר זהות" ng-model="user.userIdNumber" tabindex="107">

        </div>
 
        <div class="col-sm-1"></div>
     
        <div class="col-sm-4">

          <!-- 1 -->
          <label class="control-label pull-right">הכנס דואר אלקטרוני:&nbsp;&nbsp;</label>
          <input type="email" name="email1" class="form-control inputstl pull-right" required placeholder="הכנס כתובת דואר אלקטרוני"ל ng-model="user.userEmail1" tabindex="100">

          <!-- 2 -->
          <label class="control-label pull-right">הכנס דואר אלקטרוני בשנית:&nbsp;&nbsp;</label>
          <input type="email" name="email2" class="form-control inputstl pull-right" required placeholder="הכנס כתובת דואר אלקטרוני"ל ng-model="user.userEmail2" tabindex="102">

          <!-- 3 -->
          <label class="control-label pull-right">הכנס סיסמא:&nbsp;&nbsp;</label>
          <input type="password" name="password1" class="form-control inputstl pull-right" required placeholder="הכנס סיסמא" ng-model="user.userPassword1" tabindex="103">
                        
          <!-- 4 -->
          <label class="control-label pull-right">הכנס סיסמא בשנית:&nbsp;&nbsp;</label>
          <input type="password" name="password2" class="form-control inputstl pull-right" required placeholder="הכנס סיסמא בשנית" ng-model="user.userPassword2" tabindex="104">
          


        </div>
 
        <div class="col-sm-2"></div>
      
        <div class="col-sm-12 text-center"><br></div>

        <div class="col-sm-12 text-center">

        <!-- register Button! -->
        <button ng-click="registerUser()" ng-disabled="myForm2.$invalid" class="btn squirish-button2 btn-info" data-toggle="modal" data-target="#fedbackModal" tabindex="10">הרשם!</button>
        </div>

      <div class="col-md-12">
      <br>
        <div ng-show="user.userPassword2 != user.userPassword1" class="alert alert-danger login-input">הסמסמאות שהכנסת אינן זהות!</div>
        <div ng-show="user.userEmail2 != user.userEmail1" class="alert alert-danger login-input">כתובת הדואר שהכנסת אינן זהות אינן זהות!</div>
        <div ng-show="user.userEmail1.$error.email" class="alert alert-danger login-input">אימייל לא תקין</div>
      <br><br>
      <br><br>
    </div>
     
</form>




    </div>
    </div>
  </div>
</div>


      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>           
                </div>
              </div>
            </div>
            <div class="modal-footer">
                 <button type="button" ng-show="doneRegister" data-dismiss="modal" class="btn btn-default" ng-click="goToLogin()"> סגור </button>
                <button type="button" ng-show="!doneRegister" data-dismiss="modal" class="btn btn-default"> סגור </button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
