<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#teacher">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

<!-- SHOW GROUPS MODE -->

<div ng-show="chooseGroupMod">

        <div class="col-sm-12 col-xs-12" >
          <h1>שלום, {{teacherName}}!</h1>  
          <span ng-show="allGroups.length!=0"> <h3>לרשותך, רשימת הקבוצות שבניהולך. <small>לחץ על קבוצה לצפייה בסטטיסטיקה</small></h3> </span>
          <span ng-show="allGroups.length==0"> <h3>עדיין לא קימות קבוצות תלמידים באחריותך.</h3> 
          
        </div>



          <div class="col-sm-12 col-xs-12 text-right">
            <div class="col-sm-4 col-xs-12 panel-group panel-hover-lili" ng-repeat="y in allGroups">
              <div class="panel panel-default" ng-click="showGroupsMembersList(y.GroupId,y.GroupName)" ng-model="currentGroup">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <p><bold>{{y.GroupName}}</bold></p>
                  </h4>
                </div>
                <div class="panel">
                  <div class="panel-body">קוד קבוצה: <div class="text-info"> {{y.GroupeCode}}</div></div>
                </div>
              </div>
            </div>       
          </div>

        <div class="col-sm-12 col-xs-12 text-right">
          <!-- if no groups: -->
          <div ng-show="noUsersInGroup" class="alert alert-info" style="font-size: 15px;"><strong>
          <span class="label label-info">לדיעתך!</span> בקבוצה: "{{choosenGroupName}}",&nbsp;&nbsp;{{noStudentInGroup}}
          </strong></div>

        </div>

</div> <!-- /chooseGroupMod -->


<div ng-show="!chooseGroupMod">
<!--  -->

  <div ng-show = "questionForStatistics.length != 0" class="col-xs-12 col-sm-12 ">  
      <h3> לרשותך, רשימת התלמידים בקבוצה</h3>      
  </div>
  
  <span ng-show = "studentsForStatistics.length == 0" style="font-size: 17px;" >{{serverFeedback}} </span>


<div class="hidden-xs col-sm-12 col-md-2 "> <br> </div>

<div class=" col-md-8 col-xs-12 col-sm-12"> <br> 

  <div class="panel" ng-repeat="stud2 in studentsForStatistics track by $index">

    <div ng-model="user.student" value="{{stud2.PersonalID}}">
    <!-- <div class="panel-heading"> -->
      &nbsp;&nbsp;<a data-toggle="collapse" data-parent="#accordion2" data-target="#collapse{{ $index + 1 }}" class="panel-heading ng-binding collapsed">
        <h4><strong><div class="text-info" style="margin:15px;"> {{stud2.FirstName}} {{stud2.LastName}}</div></strong></h4>
      </a>
    <!-- </div> -->

    <!-- <div class="panel-body"> -->
    <!-- innder pannel -->
            <div id="collapse{{ $index + 1 }}" ng-show="stud2.gotStats" >   
              <div class="col-sm-6 panel-group panel-hover" ng-repeat="x in stud2.statistics">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <p class="bg-info"><bold>מיומנות למידה: {{x.Q_skill}}</bold></p>
                    </h4>
                  </div>

                  <div class="panel">
                    <div class="panel-body">
                    &nbsp;&nbsp;מס' שאלות שנפתרו: &nbsp;<span class="badge">{{x.totalAnsForSkill}}</span><br>
                    &nbsp;&nbsp;מס' שאלות שנפתרו בהצלחה:&nbsp;<span class="badge">{{x.correctAnsForSkill}}</span><br>
                    &nbsp;&nbsp;אחוזי הצלחה:&nbsp;<span class="badge" style="background: green">
                    {{ ((x.correctAnsForSkill/x.totalAnsForSkill)*100).toFixed(0) }}%
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <br><br>
              <br><br>

      <span class="text-info" ng-show = "stud2.gotStats &&  stud2.statistics.length == 0" style="font-size: 17px;" > &nbsp;&nbsp;{{serverFeedback}} </span>

           </div>

     <!--/inner pannel  -->
    <!-- </div> -->


    </div>
     <button ng-click="getStatisticForStudent(stud2.PersonalID,$index)" class="btn btn-success text-center no-margin1-in-mobile" > 
      סטטיסטיקה
    </button> 

  </div>
</div> <!-- col-8 -->



<div class=" hidden-xs col-sm-12 col-md-2 "> <br> </div>


<div class="col-xs-12 col-sm-12  text-center">
 <br> 
 <br> 
    <button ng-click="switchToChooseGroupMod()" class="btn btn-info text-center squirish-button3" style="margin: 5px;"> 
      חזור לקבוצות
      <!-- <span class="glyphicon glyphicon-king"></span> -->
    </button>


 </div>













<!--  -->
</div>






  </div>
</div>



<br><br><br><br><br>

<img class="img-responsive footer-image" id="imag-logo" src="views/pic/bottom.png" >


  

