

@media(max-width:767px){

  .no-margin1-in-mobile{
    margin: 8px 40px;
  }

/*~~~~~~~~~~ order ~~~~~~~~~~~*/
/*
.row.reorder-xs {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    direction: rtl;
  }

  .row.reorder-xs > [class*="col-"] {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    direction: ltr;
  }

*/


/*~~~~~~~~~~ margin ~~~~~~~~~~~*/
  .margin22-mobile{
    margin: 22px;
  }


/*~~~~~~~~~~ padding ~~~~~~~~~~~*/



  
}

