/* -------------------index -------------------*/
#index-wrap{
    background: url('pic/start.jpg') ;

    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: transparent; /* Orange */
    color: #0E76BD; /*#ff5fff; PINK */
    text-align: center;
    height: 100vh;

}

.modal-backdrop {
   background-color: #A19A94;

}
/*not pretty...*/
/*.modal-content{
    background: #F1F0EE;
}
*/
/* ------------------- header -------------------*/


.navbar-default {
    background-color: #E0E2E1;
    border-color: #E0E2E1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .li:hover {
    background: #F1F0EE;
    color: grey;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background: #F1F0EE;
    color: grey;
}

/*
removed active.
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: #E0E2E1;
    color: grey;
}
*/
/* ------------------- welcome -------------------*/

* {
    font-family: 'Varela Round', sans-serif;
}



/* ------------------- login ------------------- */
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]
{
    float: right;
    margin-right: 2.5%;
    margin-left: 0;
    margin-right: -20px;
    margin-left: auto;
}

form div label{
    margin-right: 2%;
}


/* ------------------- student ------------------- */
.student_actions{
    border: 10px solid transparent;
    margin-bottom: 2.5%;
    width: 50%;
    height: 50%;
    opacity: 0.7;
}
.student_actions:hover {
    border-color: #f1f1f1;
}


/* ------------------- one-question ------------------- */

table tbody tr td div label {

    margin-right: 3%;
}

.radio input[type="radio"]
{

    margin-right: -3%;
}

/*#labels_in_task{
  display: inline-block;
  vertical-align: bottom; 
}*/

/* ------------------------------------------------ */
/* ------------------- General  ------------------- */
/* ------------------------------------------------ */

header ul li:hover {
    background: #F1F0EE;
    color: grey;
}


body {
    background: #E0E2E1 !important;
}

/*#email.form-control {
	width: (device-width)/2
}*/

tr:hover{
    background: #F1F0EE;
    color: blue;
}

/*Dosn't work*/
#labels_in_task.text-left{
    margin-left: 20%;
}

/* ------------------- Buttons  ------------------- */
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus
{
    background-color: #0A5183;
    border-color: #0A5183;
    color: white;
    margin-right: 2%
}

/*#one_task_start_btn.btn{
	position: center;
}*/


/* ------------------- Table ------------------- */
/*not working*/
/*tr nth-child(even){*/
    /*background-color: white !important;*/
/*}*/

thead tr th{
    text-align: right;
}



/* ------------------- Bottom page ------------------- */

#imag-logo {
    position: fixed;
    bottom: 0;

}

#index-bott{
    background: url('pic/bottom.png') ;

    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.fix{
    position:fixed;
    bottom:0px;
    left:50%;
}


/* ------------------- Bottom page ------------------- */
.inputstl {
    padding: 9px;
    border: solid 1px #0F75BC;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}
