<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#superUser">משתמש על</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrap">
  <div class="container" id="c_1">

<!-- GROUP MANAGMENT MODE -->
<div class="row">

  <div class="col-sm-12" >
    <h1>שלום, {{userName}}!</h1> 
    <span ng-show="allGroups.length!=0"> <h3>לרשותך, קבוצות המורים במערכת:</h3> </span>
    <span ng-show="allGroups.length==0"> <h3>עדיין לא קיימות קבוצות מורים.</h3> 
    <h5> לרשותך, דף הוספת <a href="#createGroup">קבוצה</a></h5>
    </span>
  </div>


  <div class="col-sm-12"><br></div>

  <div class="col-sm-4">
      <table class="table table-responsive table-fixed table-hover">
      <thead ng-show="$scope.groupsStudentLst!=0 ">  
        <tr> 
          <th>מספר זהות</th>
          <th>שם</th>
          <th>משפחה</th>
          <th>אימייל</th>
          <th>סיסמא</th>
        </tr> 
      </thead>
      <tbody> 
        <tr class="" ng-repeat="stud2 in groupsStudentLst">
          <td> {{stud2.PersonalID}}</td>
          <td> {{stud2.FirstName}}</td>
          <td> {{stud2.LastName}}</td>
          <td> {{stud2.Email}}</td>
          <td>
          <button class="button btn-success" ng-click="showStudnetPassword(stud2)" data-toggle="modal" data-target="#fedbackModal" > הצג סיסמא  </button>
          </td>
        </tr>
      </tbody>
      </table>

          <div ng-show="groupIsEmpty" class="alert alert-info login-input" style="font-size: 15px;">
          <strong>
        <span class="label label-info">לדיעתך! </span>&nbsp;&nbsp; בקבוצה "{{choosenGroupName}}", עדיין אין מורים רשומים 
         </strong></div>


  </div>


  <div class="col-sm-8">
    <div class="col-sm-6 panel-group panel-hover" ng-repeat="y in allGroups">
      <div class="panel panel-default" ng-click="showGroupsMembersList(y.GroupId,y.GroupName)">
        <div class="panel-heading">
          <h4 class="panel-title">
            <p><bold>{{y.GroupName}}</bold></p>
          </h4>
        </div>
        <div class="panel">
          <div class="panel-body">קוד קבוצה: <div class="text-info"> {{y.GroupeCode}}</div></div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- /GROUP MANAGMENT MODE -->


  </div>
</div>

      <!-- Modal -->
      <div class="modal fade" id="fedbackModal" tabindex="-1" role="dialog" aria-labelledby="myCurrectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title text-info"> <strong>טקסטרטגיה</strong> <small>מתרגלים אסטרטגיות הבנה</small></h4>
              </div>
        
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 col-sm-3"> 
                  <img alt="תרגול" class="img-circle student_actions" src="views/pic/logo2.png" >
                </div>
                <div class="col-xs-7 col-sm-9">
                <br>
                  <span> {{serverFeedback}}</span>           
                  <div ng-show = "askForUserPassword">

                   <input type="password" ng-model="pass.superPassword" class="form-control inputstl pull-right" placeholder="הכנס את ססמתך האישית" style="max-width:200px ; margin:20px; padding: 5px 5px;">

                   <button type="button" class="btn btn-default" ng-click="askPremession()" style="margin:20px 0px;"> שלח </button>
                  </div>

                  <div ng-show="showPassword">
                    <span class="text-info">
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{studentObject.Pass}}
                    </strong></span>
                  </div>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" ng-show="doneSendTask && !askForUserPassword" data-dismiss="modal" class="btn btn-default" ng-click="goToTeacher()"> סגור </button> -->
              <button type="button" data-dismiss="modal" class="btn btn-default" > סגור </button>

            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
