<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#welcome">טקסטרטגיה</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="student.html">תלמיד</a></li> -->
        <li><a href="#student">תלמיד</a></li>
        <li><a href="#tasks">מטלות</a></li>
      </ul>
      <p class="navbar-text">בהצלחה</p>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-user"></span> הרשם</a></li>
        <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> התחברות</a></li>
      </ul>
    </div>
  </div>
</nav>

	<div id="wrap">
		<div class="container" id="c_1">

<!-- MADE CHANGE !!!!!! -->
     <div class="row">  
    <div class="col-sm-12" >
      <h1>שלום, {{studentName}}!</h1>
    </div>
      

      <div class="col-sm-2" >
        <!-- <h6> <strong> היסטוריית מטלות </strong></h6> -->
        <a href="#history_tasks"><span class="glyphicon glyphicon-check"></span> היסטוריית מטלות</a>
        <br>
        <a href="#student"><span class="glyphicon glyphicon-home"></span>דף הבית</a>

      </div>

      <div class="col-sm-6"></div>

      <div class="col-sm-4" >
        <div ng-show="tasks.length==0">
          <h3><em> אין מטלות זמינות לביצוע... </em></h3>
        </div>
        <div ng-show="tasks.length!=0">
          <h3><em>לרשותך, רשימת המטלות הזמינות בפניך:</em></h3>
        </div>
      </div>
      </div>

  
    <div class="row">
      <div class="col-sm-4" ng-repeat="x in tasks">
    		<div class="card text-center" style="width: 20rem;">
     			<div class="card-block">
     				<h4 class="card-title"><b>{{x.T_title}}</b></h4>
     				<p class="card-text">{{x.T_description}}</p>
     				<!--<p class="card-text"> מספר שאלות: <b>{{questionSum}}</b></p> -->
     				<a ng-click="navigateToOneQuestion(x.T_id, x.T_title)" class="btn btn-primary">התחל מטלה</a>
            
     			
          </div>
     		</div>
     	</div>
    </div>



	</div>
</div>

<br><br><br><br><br>
<img class="img-responsive" id="imag-logo" src="views/pic/bottom.png"> 
