<div id="index-wrap">
	<div class="jumbotron">
		
		<br/><br/><br/><br/>



    <div class="row">  
    	<div class="col-sm-4" ></div>
    	<div class="col-sm-4" >
			<p class="text-center">

				<img alt="טקסטרטגיה" class="img-responsive" src="views/pic/logo_name.png">
				<h3 id="welcome_text2">מתרגלים אסטרטגיות הבנה</h3>
			
				<div class="btn-group" ng-controller="buttonController">
					<a class="btn btn-warning btn-md" href="#404">רישום</a>
					<a class="btn btn-warning btn-md" href="#login">התחבר</a>

					<!-- FOR EASINESS, NOT FOR REAL TIME! -->
					<!-- <a class="btn btn-danger btn-md" href="#teacher" type="empty">זמני, כניסת מורה</a> -->
				</div>
			</p>
   	
    	</div>
    	<div class="col-sm-4" ></div>
	</div>
	</div>



	</div>		
