<div id="index-wrap" >

<div class="jumbotron vertical-center" >
	<div class="container">
		
		<br/><br/><br/><br/>



    <div class="row">  
    	<div class="col-sm-2" ></div>
    	<div class="col-sm-8" >
			<p class="text-center">

				<img alt="טקסטרטגיה" class="img-responsive" src="views/pic/logo_name.png">
				<h2 id="welcome_text2">מתרגלים אסטרטגיות הבנה</h2>
			
				<div class="btn-group" >
					<a class="btn btn-warning btn-lg" href="#register">רישום</a>
					<a class="btn btn-warning btn-lg" href="#login">התחבר</a>

					<!-- FOR EASINESS, NOT FOR REAL TIME! -->
					<!-- <a class="btn btn-danger btn-md" href="#teacher" type="empty">זמני, כניסת מורה</a> -->
				</div>
			</p>
   	
    	</div>
    	<div class="col-sm-2" ></div>
	</div>
	


	</div>
</div>
</div>		
