<div id="index-wrap" >

<div class="jumbotron vertical-center" >
	<div class="container">
		
		<br/><br/><br/><br/>



    <div class="row">  
    	<div class="col-sm-1  hidden-lg" ></div>
    	<div class="col-sm-10  col-lg-12" >
			<p class="text-center">

				<img alt="טקסטרטגיה" class="img-responsive welcome-img" src="views/pic/logo_name.png" style="display: inline;">
				<h2 class="welcome_text">מתרגלים אסטרטגיות הבנה</h2>
			
				<div class="btn-group" >
					<a class="btn btn-warning btn-lg welcome-buttons" href="#register">רישום</a>
					<a class="btn btn-warning btn-lg welcome-buttons" href="#login">התחבר</a>
				</div>

			</p>
   	
    	</div>
    	<div class="col-sm-1  hidden-lg" ></div>
	</div>
	


	</div>
</div>
</div>		
