
header ul {
	list-style: none;
	/* make sure its not a list*/
	text-align: right;
}
header ul li {
	display: inline-block;
	background-color: #CCC;
	padding: 1.0%;
	/* space inside */
	margin: 0 0.5% 0 0.5%;
	/*space outside */
}
header ul li:hover {
	background-color: white;
}


/* ------------------- BODY ------------------- */ 
body { 
	background: #E0E2E1 !important;
}

/*#email.form-control {
	width: (device-width)/2
}*/

tr:hover{
	background-color: white;
	
}
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] 
{
	float: right;
	margin-right: 2.5%;
	margin-left: 0;
	margin-right: -20px;
	margin-left: auto;
}

form div label{
	margin-right: 2%;
}

/* ------------------- Buttons  ------------------- */
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus 
{
    background-color: #0A5183;
    border-color: #0A5183;
    color: white;
  	margin-right: 2%
} ;


/* ------------------- Table ------------------- */ 
/*not working*/
tr nth-child(even){
	background-color: white !important;
}

thead tr th{
	text-align: right;
}



/* ------------------- Bottom page ------------------- */

#imag-logo.img-responsive {
	position: fixed;
    bottom: 0;

}
